@page "/"
@inject NavigationManager NavigationManager

<Topbar />
<div class="app-content app-content-topbar">
    <MudTabs Rounded="true"
             TabPanelClass="tab-filter"
             ActiveTabClass="active-tab"
             HideSlider="true">
        @foreach (var item in SegmentItems)
        {
            <MudTabPanel Text="@item">

            </MudTabPanel>
        }
    </MudTabs>
    <Card Class="savings-card">
        <div class="available-salary">
            <div class="available-salary-item">
				<span class="salary-amount">€2.500</span>
                Bruto opgebouwd
            </div>
            <div class="available-salary-item">
                <span class="salary-amount">€1.250</span>
                Netto beschikbaar
            </div>
        </div>
		<div class="progress-bar">
			<div class="progress-fill"></div>
        </div>
        <span class="total-withdraw">Reeds totaal netto opgenomen: €0,-</span>
        <MudButton Class="primary-button" OnClick="HandleWithdraw">Opnemen</MudButton>
    </Card>
    <Card Class="menu-card">
		<h1>Bekijk</h1>
		<div class="menu-wrapper">
			<div class="menu-item" onclick="@(() => NavigationManager.NavigateTo("/uren"))">
                <MudIcon Class="primary-icon" Icon="@Icons.Material.Outlined.BarChart" />
                <span>Gewerkte uren</span>
                <MudIcon Icon="@Icons.Material.Rounded.ChevronRight" />
            </div>
			<div class="divider"></div>
            <div class="menu-item" onclick="@(() => NavigationManager.NavigateTo("/opnames/gepland"))">
                <MudIcon Class="primary-icon" Icon="@Icons.Material.Outlined.CalendarMonth" />
                <span>Ingeplande opnames</span>
                <MudIcon Icon="@Icons.Material.Rounded.ChevronRight" />
            </div>
            <div class="divider"></div>
            <div class="menu-item" onclick="@(() => NavigationManager.NavigateTo("/opnames/recent"))">
                <MudIcon Class="primary-icon" Icon="@Icons.Material.Outlined.HistoryToggleOff" />
                <span>Recente opnames</span>
                <MudIcon Icon="@Icons.Material.Rounded.ChevronRight" />
            </div>
        </div>
    </Card>
</div>
