@page "/uren"
@inject NavigationManager NavigationManager

<SecondaryTopbar PageTitle="Gewerkte uren" />
<div class="app-content hours-page">
    <MudTabs Rounded="true"
             ActivePanelIndexChanged="OnActiveIndexChanged"
             Class="wide-tabs"
             TabPanelClass="tab-filter"
             ActiveTabClass="active-tab"
             HideSlider="true">
        @foreach (var item in SegmentItems)
        {
            <MudTabPanel Text="@item">

            </MudTabPanel>
        }
    </MudTabs>

    @if (activeIndex == 0) {
        <div class="time-selection-wrapper">
            <div class="time-selection">
                <MudIcon Icon="@Icons.Material.Outlined.ChevronLeft" onclick="@GoBackTimeSelection" />
                <span>Week @currentWeek, @currentYear</span>
                <MudIcon Icon="@Icons.Material.Outlined.ChevronRight" onclick="@GoForwardTimeSelection" />
            </div>
            @if (isNotCurrentDay) {
                <div class="text-link-button" onclick="@ShowToday">
                    Toon deze week
                </div>
            }
        </div>

        <Card Class="hours-card">
            <div class="available-salary">
                <div class="available-salary-item">
                    <span class="salary-amount">30</span>
                    Gewerkte uren
                </div>
                <div class="vertical-divider"></div>
                <div class="available-salary-item">
                    <span class="salary-amount">€@weeklyTotal.ToString("N2")</span>
                    Verdiend deze periode
                </div>
            </div>
        </Card>
        <Card Class="week-overview-card">
            <h1>Weekoverzicht</h1>
            <div class="weekly-overview">
                @foreach (var day in WeekDays)
                {
                    <ProgressBar TextLabel="@day.Label" Amount="@day.Amount" MaxAmount="@highestWeekEarning" />
                }
            </div>
            <div class="divider"></div>
            <div class="hours-general-info">
                <div class="hours-general-info-item">
                    <MudChip T="string" Variant="Variant.Text" Color="Color.Primary">
                        <MudIcon Class="primary-icon" Icon="@Icons.Material.Outlined.Payments" />
                        Bruto uurloon
                    </MudChip>
                    <span>€15,00</span>
                </div>
                <div class="hours-general-info-item">
                    <MudChip T="string" Variant="Variant.Text" Color="Color.Primary">
                        <MudIcon Class="primary-icon" Icon="@Icons.Material.Outlined.DateRange" />
                        Dagen tot verloning
                    </MudChip>
                    <span>12</span>
                </div>
                <div class="hours-general-info-item">
                    <MudChip T="string" Variant="Variant.Text" Color="Color.Primary">
                        <MudIcon Class="primary-icon" Icon="@Icons.Material.Outlined.PriceCheck" />
                        Reeds uitbetaald
                    </MudChip>
                    <span>€400,00</span>
                </div>
            </div>
        </Card>
    }
    else if (activeIndex == 1) {
        <div class="time-selection">
            <MudIcon Icon="@Icons.Material.Outlined.ChevronLeft" onclick="@GoBackTimeSelection" />
            <span>@CurrentMonthName @currentYear</span>
            <MudIcon Icon="@Icons.Material.Outlined.ChevronRight" onclick="@GoForwardTimeSelection" />
        </div>

        @if (isNotCurrentDay)
        {
            <div class="text-link-button" onclick="@ShowToday">
                Toon deze maand
            </div>
        }

        <Card Class="hours-card">
            <div class="available-salary">
                <div class="available-salary-item">
                    <span class="salary-amount">30</span>
                    Gewerkte uren
                </div>
                <div class="vertical-divider"></div>
                <div class="available-salary-item">
                    <span class="salary-amount">€@weeklyTotal.ToString("N2")</span>
                    Verdiend deze periode
                </div>
            </div>
        </Card>
        <Card Class="week-overview-card">
            <h1>Maandoverzicht</h1>
            <div class="weekly-overview">
                @foreach (var day in WeekDays)
                {
                    <ProgressBar TextLabel="@day.Label" Amount="@day.Amount" MaxAmount="@highestWeekEarning" />
                }
            </div>
            <div class="divider"></div>
            <div class="hours-general-info">
                <div class="hours-general-info-item">
                    <MudChip T="string" Variant="Variant.Text" Color="Color.Primary">
                        <MudIcon Class="primary-icon" Icon="@Icons.Material.Outlined.Payments" />
                        Bruto uurloon
                    </MudChip>
                    <span>€15,00</span>
                </div>
                <div class="hours-general-info-item">
                    <MudChip T="string" Variant="Variant.Text" Color="Color.Primary">
                        <MudIcon Class="primary-icon" Icon="@Icons.Material.Outlined.DateRange" />
                        Dagen tot verloning
                    </MudChip>
                    <span>12</span>
                </div>
                <div class="hours-general-info-item">
                    <MudChip T="string" Variant="Variant.Text" Color="Color.Primary">
                        <MudIcon Class="primary-icon" Icon="@Icons.Material.Outlined.PriceCheck" />
                        Reeds uitbetaald
                    </MudChip>
                    <span>€400,00</span>
                </div>
            </div>
        </Card>
    }
    else if (activeIndex == 2) {
        <div class="time-selection">
            <MudIcon Icon="@Icons.Material.Outlined.ChevronLeft" onclick="@GoBackTimeSelection" />
            <span>@currentYear</span>
            <MudIcon Icon="@Icons.Material.Outlined.ChevronRight" onclick="@GoForwardTimeSelection" />
        </div>

        @if (isNotCurrentDay)
        {
            <div class="text-link-button" onclick="@ShowToday">
                Toon dit jaar
            </div>
        }

        <Card Class="hours-card">
            <div class="available-salary">
                <div class="available-salary-item">
                    <span class="salary-amount">1381</span>
                    Gewerkte uren
                </div>
                <div class="vertical-divider"></div>
                <div class="available-salary-item">
                    <span class="salary-amount">€@yearlyTotal.ToString("N2")</span>
                    Verdiend deze periode
                </div>
            </div>
        </Card>
        <Card Class="week-overview-card">
            <h1>Jaaroverzicht</h1>
            <div class="weekly-overview">
                @foreach (var month in Months)
                {
                    <ProgressBar TextLabel="@month.Label" Amount="@month.Amount" MaxAmount="@highestMonthEarning" />
                }
            </div>
            <div class="divider"></div>
            <div class="hours-general-info">
                <div class="hours-general-info-item">
                    <MudChip T="string" Variant="Variant.Text" Color="Color.Primary">
                        <MudIcon Class="primary-icon" Icon="@Icons.Material.Outlined.Payments" />
                        Bruto uurloon
                    </MudChip>
                    <span>€15,00</span>
                </div>
                <div class="hours-general-info-item">
                    <MudChip T="string" Variant="Variant.Text" Color="Color.Primary">
                        <MudIcon Class="primary-icon" Icon="@Icons.Material.Outlined.DateRange" />
                        Dagen tot verloning
                    </MudChip>
                    <span>12</span>
                </div>
                <div class="hours-general-info-item">
                    <MudChip T="string" Variant="Variant.Text" Color="Color.Primary">
                        <MudIcon Class="primary-icon" Icon="@Icons.Material.Outlined.PriceCheck" />
                        Reeds uitbetaald
                    </MudChip>
                    <span>€400,00</span>
                </div>
            </div>
        </Card>
    }
    
</div>
